<div class="area">
    <nav class="main-menu" [ngClass]="{'expanded': menuExpanded }">
        <div class="flex">
            <div class="flex-20">
                <ul>
                    <li>
                        <a (click)="expand()">
                            <i class="fa fa-home fa-fs-m"></i>
                        </a>
                    </li>
                </ul>
        
                <ul>
                    <li>
                        <a (click)="expand()">
                            <i class="fa fa-home fa-fs-m"></i>
                        </a>
                    </li>
                </ul>
        
                <ul>
                    <li>
                        <a (click)="expand()">
                            <i class="fa fa-home fa-fs-m"></i>
                        </a>
                    </li>
                </ul>
        
                <ul>
                    <li>
                        <a (click)="expand()">
                            <i class="fa fa-home fa-fs-m"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="flex-80">
                <router-outlet name="menu3D"></router-outlet>
            </div>
        </div>
    </nav>
</div>